:root{
  --primary : #0070f7;
  --secondary: #242429;
  --tertiary: #2e3036;
  --quaternary: #3d4046;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: var(--tertiary);
  color: white;
}