a{
    text-decoration: none;
}
.sidebar-container{
    width: 15vw;
    background-color: var(--quaternary);
    color: white;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
}
.app-logo{
    width: 80%;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.half-title{
    color: var(--primary);
}

.sidebar-list{
    margin: 30px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidebar-list li{
    width: 100%;
    font-weight: lighter;
    color: rgb(227, 227, 227);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    padding: 10px 0;
}
.sidebar-list li:hover{
    background-color: var(--primary);
    color: var(--secondary);
}
.sidebar-list li:hover a{
    color: white;
}

.sidebar-list li a{
    width: 100%;
    padding-left: 25px;
    color: rgb(175, 175, 175);
}
.sidebar-list li a:focus{
    outline: none;
}
.bi{
    margin-right: 10px;
}