.ap-table{
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    font-size: 0.9rem;
    table-layout: fixed;
  }
.ap-table th{
    padding: 5px;
  }
.branch-ap-table{
    margin: 30px 0;
}
.ap-table th,td{
  text-align: left;
  font-weight: lighter;
  color: rgb(235, 235, 235);
}

.ap-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.ap-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.ap-table tbody tr:nth-child(odd){
  background-color: var(--tertiary)
}
.ap-table tbody tr:nth-child(odd){
  background-color: var(--quaternary)
}
.ap-table .seq_no{
  width: 5%;
}